ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.menu-principal{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-principal li{
   margin: 0 20px;
}

.menu-secundario{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.menu-secundario ul{
    background-color: #3A9955;
    width: 100%; 
    padding: 10px;
}

.menu-secundario li{
    flex: 1;
    text-align: center;
    border-right: 1px solid #ccc;
    padding: 0 50px;
 }

.menu-secundario li:last-child {
    border-right: none;
}

.menu-secundario a{
    color: white;
    font-weight: 700;
}

footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

footer h2{
    margin: 0;
}

footer ul{
    justify-content: center;
}

.products{
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.products h3{
    margin: 0;
}


.card-product{
    width: 100px;
    font-size: 12px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-img{
    width: 50px;
    height: 50px;
}

.card-product button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #3A9955;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}