* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap; 
}

.formulario {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}

.formulario h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-top: 10px;
}

.formulario input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
}

.form-linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.form-foto {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form-foto label {
    margin-bottom: 5px;
}

.form-foto input[type="file"] {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.path-login {
    color: #4CAF50;
    cursor: pointer;
}

.path-login:hover {
    color: #45a049;
}

.imagem {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.imagem img {
    max-width: 100%;
    height: auto;
}

#footer {
    margin-top: auto;
}


@media (max-width: 970px) {
    #main-content {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .formulario {
        max-width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .form-linha {
        flex-direction: column;
        align-items: stretch;
    }

    .form-foto {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .imagem {
        max-width: 100%;
    }

    .imagem img {
        width: 100%;
    }
}



